.signup-container {
    background-color: #eae4d2;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 15rem;
    text-align: center;
}
.signup-container h1 {
    color: #17726d;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.signup-container input {
    width: 93%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}
.signup-container button {
    width: 100%;
    background-color: #17726d;
    color: #eae4d2;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}
.signup-container .social-icons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.signup-container .social-icons a {
    color: #17726d;
    font-size: 1
}
.error-message {
    color: #dc3545;
    margin-bottom: 1rem;
    font-size: 0.875rem;
}