:root {
  --theme-color: #17726d;
  --background-color: #eae4d2;
}

body {
  background-color: var(--theme-color);
  margin: 0;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
